<div class="px-2 py-4 d-flex flex-column align-items-center">
    
    <div>
        <h3>Filters</h3>
    </div>

    <div>
        <div class="filter-container">
            <form [formGroup]="filterForm">
              <!-- <div class="form-group">
                <label for="movie">Movie</label>
                <select id="movie" formControlName="movie" class="form-control">
                  <option value="">All Movies</option>
                  <option *ngFor="let movie of movies" [value]="movie.url">
                    {{ movie.title }}
                  </option>
                </select>
              </div> -->
          
              <!-- <div class="form-group">
                <label for="species">Species</label>
                <select id="species" formControlName="species" class="form-control">
                  <option value="">All Species</option>
                  <option *ngFor="let species of speciesList" [value]="species.url">
                    {{ species.name }}
                  </option>
                </select>
              </div> -->
          
              <div class="form-group">
                <label for="birthYearStart">Birth Year Start</label>
                <input id="birthYearStart" type="text" formControlName="birthYear" class="form-control">
              </div>
          
              <!-- <div class="form-group">
                <label for="birthYearEnd">Birth Year End</label>
                <input id="birthYearEnd" type="text" formControlName="birthYearEnd" class="form-control">
              </div> -->
          
              <button type="button" class="serach_button mt-2 px-4" (click)="applyFilters()">Search</button>
            </form>
          </div>
          
    </div>
    <!-- <div>
        <button class="serach_button px-4">
            Search
        </button>
    </div> -->
</div>